 *{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
}

.tituloheader{
    background-color: aquamarine;
    text-align: center;

}


.upcomingevents{
justify-content: center;
align-items: center;
background-color: rgb(19, 106, 109);
color: rgb(0, 0, 0);
}

.logo{
    width: 150px;
    height: 150px;
    float: right;
    position: relative;
}

.articulo{
    width: 60%; 
} 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

.imagen{
  width: 35%;
  height: 25%;
 
}
.imagen2{
  width: 35%;
  height: 25%;
}

.texto{
  font: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

