*{
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
}

.tituloheader{
    position: absolute;
}

.PortadaIndex{
   
    padding: 25px;
    background: url(../img/design1_image1.jpg);;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    height: 8cm;
    width: 45cm;
}

.upcomingevents{
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    width: 80%;
}

.logo{
    width: 100px;
    height: 100px;
    float: right;
}

.articulo{
    display: flex;
}